/* ------------------ General ------------------ */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(196, 150, 65);
}

/* ------------------ Header ------------------ */

header{
    min-height: 20vh;
    margin: 20px;
    font-size: 100%;
}

header > h1{
    text-align: left;
    display: inline-block;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    background-color: black;
    font-size: 2vw;
    width: 100%;
    padding-left: 25px;
}

header > img{
    display: inline-block;
    width: 100%;
    height: 35vw;
}

header > p {
    display: inline-block;
    text-align: center;
    font-weight: bolder;
    border: 2px solid black;
    color: white;
    margin-top: -4px;
    width: 100%;
    font-size: 2vw;
}

header > nav{
    position: absolute;
    left: 51vw;
    top: 3vw;
    background-color: transparent;
}

.boton:hover{
    background-color: green;
}

.boton {
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    background-color: rgb(28, 93, 153);
    color: white;
    text-decoration: none;
    border: 2px solid black;
    font-size: 1vw;
    padding: 4px 10px 4px 10px;
    margin: 5px;
    border-radius: 10px;
}

a[href="#"] {
    background-color: green;
}

/* ------------------ Main General------------------ */

main {
    margin: 20px;
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
}

.img_compl{
    width: 350px;
    height: 250px;
    object-fit: cover;
    object-position: 10% 10%;
}

.icono {
    height: 125px;
    border: 3px solid black;
    border-radius: 10px;
}

main div {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-basis: 800px;
    font-size: 2vw;
}

/* ------------------ Main Contact------------------ */

.contactos p{
    padding: 25px;
}

/* ------------------ Main Rules------------------ */

.articles_rules div {
    gap: 10px;
    align-items: center;
    flex-basis: 150px;
}

.articles_rules article li {
    line-height: 1.5;
    padding: 15px;
}

.numerico {
    list-style: lower-latin;
}

.sangria {
    text-indent: 50px;
}

.negrita {
    font-weight: bolder;
}

.style_lista {
    list-style-type: circle;
    list-style-position: inside;
}

/* ------------------ Main Game_info------------------ */

/* .item:nth-child(2) */

table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
}

#subrayado {
    text-decoration: underline;
    color: rgb(95, 87, 87);
    font-style: italic;
}
