/* ------------------ General ------------------ */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(196, 150, 65);
}

/* ------------------ Header ------------------ */

header{
    min-height: 20vh;
    margin: 20px;
    font-size: 100%;
}

header > h1{
    text-align: left;
    display: inline-block;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    background-color: black;
    font-size: 2vw;
    width: 100%;
    padding-left: 25px;
}

header > img{
    display: inline-block;
    width: 100%;
    height: 35vw;
}

header > p {
    display: inline-block;
    text-align: center;
    font-weight: bolder;
    border: 2px solid red;
    margin-top: -3px;
    width: 100%;
    font-size: 2vw;
}

header > nav{
    position: absolute;
    left: 51vw;
    top: 3vw;
    background-color: transparent;
}

.boton {
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    background-color: rgb(28, 93, 153);
    color: white;
    text-decoration: none;
    border: 2px solid black;
    font-size: 1vw;
    padding: 4px 10px 4px 10px;
    margin: 5px;
    
}

a[href="#"] {
    background-color: green;
}

/* ------------------ Main General------------------ */

main {
    margin: 25px;
    font-size: 100%;
    border: 2px solid black;

}

.img_compl{
    width: 60vh;
}

.icono {
    height: 125px;
    border: 3px solid black;
}

/* ------------------ Main Index------------------ */
.main_index {
    display: flex;
    font-size: 1vw;
    flex-wrap: wrap;
    align-content: space-around;

}

.main_index:nth-child() {
    border: 1px solid yellow;
}
/* ------------------ Main About------------------ */

/* ------------------ Main Contact------------------ */

/* ------------------ Main Rules------------------ */

/* ------------------ Main Game_info------------------ */

.negrita{
    font-weight: bolder;
}

/* .item:nth-child(2) */

table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
}

#subrayado {
    text-decoration: underline;
    color: rgb(95, 87, 87);
}
