/* ------------------ General ------------------ */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(196, 150, 65);
}

/* ------------------ Header ------------------ */

header{
    min-height: 20vh;
    margin: 20px;
    font-size: 100%;
}

header > h1{
    text-align: left;
    display: inline-block;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    background-color: black;
    font-size: 2vw;
    width: 100%;
    padding-left: 25px;
}

header > img{
    display: inline-block;
    width: 100%;
    height: 35vw;
}

header > p {
    display: inline-block;
    text-align: center;
    font-weight: bolder;
    border: 2px solid red;
    margin-top: -3px;
    width: 100%;
    font-size: 2vw;
}

header > nav{
    position: absolute;
    left: 51vw;
    top: 3vw;
    background-color: transparent;
}

.boton {
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    background-color: rgb(28, 93, 153);
    color: white;
    text-decoration: none;
    border: 2px solid black;
    font-size: 1vw;
    padding: 4px 10px 4px 10px;
    margin: 5px;
    
}

a[href="#"] {
    background-color: green;
}

/* ------------------ Main ------------------ */

main {
    margin: 25px;
    font-size: 100%;
}

#icono {
    height: 125px;
    border: 3px solid black ;
    display: inline-block
}

article {
    border: 2px solid red;
    font-size: 20px;
    width: 100%;
    height: 100px;
    position: relative;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 35px;

}