*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(196, 150, 65);
}

header{
    min-height: 20vh;
    margin: 20px
}

header > h1{
    text-align: center;
    display: inline-block;
    color: rgb(100, 39, 39);
    font-size: 45px;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}

header > img{
    display: inline-block;
    width: 1000px;
    margin-top: 20px;
}

header > nav{
    position: absolute;
    left: 510px;
    top: 80px;
    width: 0px;
    height: 0px;
}

header > p {
    display: inline-block;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    border: 2px solid red ;
    width: 1000px;
    margin-top: -3px;
}

.boton {
    font-size: 18px;
    color: white;
    text-decoration: none;
    border: 2px solid black;
    padding: 4px 10px 4px 10px;
    margin: 5px;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    background-color: rgb(28, 93, 153);
}

a[href="#"] {
    background-color: green;
}

main {
    margin: 25px;;
}

footer {
    margin: 25px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
    gap: 1rem;
}

.negrita{
    font-weight: bolder;
}

ol li ol {
    font-weight: normal;
}

th{
    background-color: rgb(199, 35, 35);
}

/* .item:nth-child(2) */

table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
}

#subrayado {
    text-decoration: underline;
    color: rgb(95, 87, 87);
}